*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
  align-items: center;
  background-color: #F1ECC3;
  color: #40514E;
  font-family:'Montserrat', sans-serif;
  justify-content: center;
  margin: 0;
  text-align: center;
}


h1 {
  color: #184d47;
  font-size: 3.5rem;
  font-family:'Montserrat', sans-serif;
  font-weight: normal;
  line-height: 2;
  margin: 10px auto 0 auto;
}

h2 {
  color: #184d47;
  font-family: 'Montserrat', sans-serif;
  padding : 10px 0 10px 0;
}

h3 {
  color: #184d47;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
}

h5 {
    font-size: 0.7rem;
    line-height: 1.5;
    padding: 10px;
    text-align: justify;
}

h6 {
    padding-top: 10px;
}


a {
  color: #EAF6F6;
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  color: #96bb7c;
}


hr {
  border-style: none;
  border-top-style: dotted;
  border-width: 5px;
  color: #C9D8B6;
  margin: 30px auto 10px auto;
  width: 15%;
}

.button {
  background: #184d47;
  border-radius: 20px;
  display: inline-block;
  text-decoration: none;
  width: 45%;
}


/** Partie du haut jusqu'à l'arbre **/
.top-container {
  padding-top: 100px;
  position: relative;
}

.for {
  text-decoration: underline;
}

.subtitle {
  font-size: 1.5rem;
  font-weight: normal;
}

.birds-img {
  max-width: 28%;
  position:absolute;
  right: 150px;
  top: 1px;
}

.tree-img {
  height: auto;
  margin-top: 1.25rem;
  max-width: 70%;
  position: relative;
  width: auto;
}

/** Partie du centrale avec 5 sous containers **/
.middle-container {
  position: relative;
}

/** sous-partie une: profil **/
.roots-img {
  height: auto;
  max-width: 80%;
  padding-top: 10px;
  position: relative;
  width: auto;
}

.img {
  border: none;
}

.profile {
  border: none;
  line-height: 2;
  margin: auto auto;
  width: 80%;
}

.profile-img {
  width: 15%;
  margin-top: 30px;
}

.intro {
  width: 34rem;
  position: relative;
  justify-content: center;
  align-items: center;
  display: inline-block;
}


/** Sous-partie deux : timeline **/

.box-timeline {
    width: 100%;
    height: 1750px;
    position: relative;
    padding: 30px 0 50px 0;
}
/** ligne verticale **/
.ligne {
    height: 1600px;
    width: 8px;
    margin: 0 auto;
    background: #184d47;
}

/** rond sur la ligne liés aux box **/
.rond {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #184d47;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
}
/* placement des ronds */
.r1{top: 50px;}
.r2{top: 380px;}
.r3{top: 660px;}
.r4{top: 960px;}
.r5{top: 1260px;}
.r6{top: 1500px;}

/** box structure et format **/
.box {
    color: #184d47;
    width: 19rem;
    padding: 20px 5px 5px 5px;
    border-radius: 3px;
    height: auto;
    background: #FEFFDE;
    box-shadow: 0 10px 15px rgba(0,0,0,0.5);
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}

/** placement des box liés aux ronds **/
.b1 {
    top: 50px;
    left: calc(50% - 170px);
}
.b2 {
    top: 380px;
    left: calc(50% + 170px);
}
.b3 {
    top: 660px;
    left: calc(50% - 170px);
}
.b4 {
    top: 960px;
    left: calc(50% + 170px);
}

.b5 {
    top: 1260px;
    left: calc(50% - 170px);
}

.b6 {
    top: 1500px;
    left: calc(50% + 170px);
}

/** Formatage de la box et du contenu **/
.box p {
    line-height: 20px;
    font-size: 0.85rem;
    font-family: 'Montserrat', sans-serif, bold;
    text-align: left;
    margin: 10px 0 0 10px;
}

.btn {
    display: inline-block;
    background: #184d47;
    width: 40px;
    color: #f1f1f1;
    text-decoration: none;
    border-radius: 3px;
}


/** Mise en forme CSS de la fenetre modale accessible **/
/** dialog overlay **/
.c-dialog {
  position: fixed;
  z-index: 1000;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  background-color: rgba(black, .75);
  transition: .2s;
}

/** dialog box **/
.c-dialog__box {
  flex: 1;
  max-width: 25rem;
  margin: auto;
  padding: 15px 15px 15px 15px;
  background-color: #C9D8B6;
}

#dialog #dialog2 #dialog3 #dialog4 #dialog5 #dialog6 {
    font-size: 2rem;
    margin: 10px;
    text-align: justify;
    padding-left: 1rem;
    padding-right: 1rem;
    line-height: 2;
}


#dialog a {
    color: #184d47;
    text-decoration: underline;
    font-size: 0.7rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    margin: 0;
    padding:0;
}

#dialog2 a {
    color: #184d47;
    text-decoration: underline;
    font-size: 0.7rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    margin: 0;
    padding:0;
}

#dialog5 a {
    color: #184d47;
    text-decoration: underline;
    font-size: 0.7rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    margin: 0;
    padding:0;
}

/** Mise en forme du bouton de fermeture de la fenêtre modale **/
[role="button"] {
  position: relative;
  display: inline-block;
  left: -11.5rem;
  top: -0.5rem;
  background:#f1f1f1;
  color: grey;
  text-decoration: none;
  width: 5%;
}

/** hidden dialog **/
.c-dialog[aria-hidden="true"] {
  visibility: hidden;
  opacity: 0;
}

/** Partie des hard skills **/
.skills {
  margin-top: 20px;
}

.skill-row {
  margin: 10px auto;
  width: 1000px;
}

.skill-prog {
  width: 415px;
  margin: 25px 5px 0 5px;
}

.skill-analytics {
  width: 413px;
  margin: 25px 5px 0 5px;
}

.skill-project {
  width: 413px;
  margin: 15px 5px 5px 5px;
}

.skill-marketing {
  width: 413px;
  margin: 15px 5px 5px 5px;
}

/** Partie soft skills **/
.softskills {
    width: 50%;
    position: relative;
}

/** Partie langues **/
.logo {
    width: 10%;
    border-radius: 90%;
    padding: 10px;
}

/** Partie interests **/
.interests {
  position: relative;
  width: 30rem;
  margin: auto auto;
}

/** Partie Get in Touch **/
.contact-me {
  line-height: 2;
  margin: auto;
  padding-bottom: 35px;
  width: 100%;
}

.button_contact {
  text-decoration: none;
  display: inline-block;
  background: #184d47;
  border-radius: 20px;
  width: 10rem;
}


/** Partie du footer **/
.bottom-container {
  background-color:#184d47;
  padding-top: 50px;
  padding-bottom: 30px;
  color: #EAF6F6;
}

.copyright {
    margin: 30px auto 10px auto;
    font-size: 0.875rem;
}


@media screen and (max-width: 1000px) {

    .top-container {
        zoom: 1.8;
        margin-top: 8rem;
    }

    .tree-img {
        min-width: 100%;
        zoom:2;
        display: inline-block;
        position: relative;
        padding: 4rem 0 0 0;
    }


    .birds-img {
        min-width: 35%;
        position: absolute;
    }

    .subtitle {
        font-size: 0.8rem;
        line-height: 2;
    }

    .intro {
        zoom: 1.2;
        width: 100%;
    }


    .ligne {
        position: relative;
        left: 240px;
        zoom: 1.2;
        height: 1350px;
    }
    .rond {
        left: calc(50% + 240px);
        zoom: 1.2;
    }
    .box {
        left: calc(45%);
        zoom: 1.2;
        min-width: 55%;
        height: auto;
        margin: 0;
    }

    .box-timeline {
        height: auto;
        margin-bottom: 5rem;
    }

    .r1{top: 3.125rem;}
    .r2{top: 20.625rem;}
    .r3{top: 35rem;}
    .r4{top: 50.625rem;}
    .r5{top: 66.25rem;}
    .r6{top: 80.625rem;}

    .b1 {
        top: 3.125rem;
    }
    .b2 {
        top: 20.625rem;
    }
    .b3 {
        top: 35rem;
    }
    .b4 {
        top: 50.625rem;
    }

    .b5 {
        top: 66.25rem;
    }

    .b6 {
        top: 80.625rem;
    }

    .c-dialog__box {
        zoom: 1;
        max-width: 70%;
    }

    [role="button"] {
        position: relative;
        display: inline-block;
        left: -14.5rem;
        top: -0.5rem;
        background:#f1f1f1;
        color: grey;
        text-decoration: none;
        width: 5%;
    }

    .skill-row {
        width: 100%;
        zoom: 1.4;
    }

    .softskills {
        width: 80%;
    }

    .languages {
        zoom: 1.2;
        padding: 1rem 2.5rem 2.5rem 1rem;
    }

    .logo {
        width: 12%;
        margin-left: 1rem;
        margin-top: 1rem;
    }

    .interests {
        zoom: 1;
    }

    .contact-me {
        padding-left: 2.5rem;
        padding-right: 2.5rem;
    }

}


